<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div id="app">
        <span v-if="seen">{{ message }}</span>
    </div>

    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds to see my dynamically bound title!
        </span>
    </div>

    <div id="app-3">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
    </div>

    <div id="app-4">
        price: {{ price }}
        amount: {{ quantity }}
        total: {{ price * quantity }}
        <br>
        use method: {{ totalMethod() }}
        use computed: {{ totalComputed }}
    </div>

    <div id="app-5"></div>

    <div id="coin">
        <p>jpn to twd</p>
        <div>twd: <input type="text" v-model="twd"></div>
        <div>jpn: <input type="text" v-model="jpn"></div>
    </div>

    <script src="https://unpkg.com/vue@next"></script>
    <script src="main.js"></script>
</body>
</html>